@import './Variables.scss';

.level-crossing {

  margin-top: 40px;
  display: flex;
  align-items: center;

  .indicator {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: $green;
  }
  .message {
    color: $light;
    margin-left: 15px;
  }
}